services:
  basic1:
    build:
      context: ./basic1
      dockerfile: Dockerfile.run
    ports:
      - 3333:5000
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    privileged: true

  basic1-gdb:
    build:
      context: ./basic1
      dockerfile: Dockerfile.gdb
    ports:
      - 3334:22
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    stdin_open: true
    tty: true

  httpserver:
    build:
      context: ./httpserver
    ports:
      - 3335:8080

  adventure:
    build:
      context: ./ADVENTURE
      dockerfile: Dockerfile
    ports:
      - 3336:5000
    security_opt:
      - apparmor:unconfined
      - seccomp:unconfined
    privileged: true
